<%= form_with(model: mission, local: true, html: {mutipart: true}) do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :boxtitle %><br>
    <%= f.text_field :boxtitle %>
  </div>

  <div class="field">
    <%= f.label :picone %><br>
    <%= f.file_field :picone %>
  </div>



  <div class="field">
    <%= f.label :boxinfo %><br>
    <%= f.text_area :boxinfo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
